<h1>You can choose from variety of delicious cakes</h1>
<ul>
  <% @cakes.each do |cake| %>
    <li>
      <%= cake.title %>,
      price - <%= cake.price %>,
      is cake brown - <%= cake.brown? %>,
      is cake small - <%= cake.small? %>,
      shape - <%= cake.shape %>
    </li>
  <% end %>
</ul>
